<launch>
 <group ns="lla2enu">
 <param name="latitude_init" value="45.621668" />
 <param name="longitude_init" value="9.281553" />
 <param name="h0" value="224.573796" />
 <node pkg="lla2enu" name="lla2enu_front" type="lla2enu" args="front" output="screen"/>
 <node pkg="lla2enu" name="lla2enu_obs" type="lla2enu" args="obs" output="screen"/>
</group>
</launch>
